.navbar {
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  padding: 20px;
}

.link {
  text-decoration: none !important;
}

.content {
  position: relative;
  top: 70px;
}

.page-content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.navbar a + a {
  margin-left: 1rem;
}